<!DOCTYPE html>
<html lang="pr-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            background-image: url('/images/');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .navbar {
            z-index: 1;
        }
        .content {
            padding-top: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        .form-container {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
            max-width: 600px;
        }
    </style>
</head>
<body>

<nav th:replace="~{fragments/sidebar :: sidebarImports}"></nav>

<div class="container mt-4">
    <h1 class="text-center mb-4">LISTA DE CLIENTES</h1>
    <div class="table-responsive">
    <table class="table table-bordered table-hover table-sm">
        <thead class="thead-light">
        <tr>
            <th>COD</th>
            <th>NOME</th>
            <th>DATA NASC</th>
            <th>ENDEREÇO</th>
            <th>Nº</th>
            <th>CEP</th>
            <th>BAIRRO</th>
            <th>CIDADE</th>
            <th>TELEFONE</th>
            <th>DATA </th>
            <th>DATA ENTREGA</th>
            <th>VALOR</th>
            <th>SINAL</th>
            <th>SALDO</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center" th:text="${cliente.id}"></td>
            <td class="text-center" th:text="${cliente.nome}"></td>
            <td class="text-center" th:text="${cliente.formattedDateNasc}"></td>
            <td class="text-center" th:text="${cliente.endereco}"></td>
            <td class="text-center" th:text="${cliente.numero}"></td>
            <td class="text-center" th:text="${cliente.cep}"></td>
            <td class="text-center" th:text="${cliente.bairro}"></td>
            <td class="text-center" th:text="${cliente.cidade}"></td>
            <td class="text-center" th:text="${cliente.telefone}"></td>
            <td class="text-center" th:text="${cliente.formattedEntregaPrev}"></td>
            <td class="text-center" th:text="${cliente.formattedDataAle}"></td>
            <td class="text-center" th:text="${cliente.valor}"></td>
            <td class="text-center" th:text="${cliente.sinal}"></td>
            <td class="text-center" th:text="${cliente.saldo}"></td>
        </tr>
        </tbody>
    </table>
    <div class="container mt-5">
        <h4 class="text-center mb-4">PRESCRIÇÃO DE ÓPTICA</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm">
                    <thead class="thead-light">
                    <tr>
                        <th>  </th>
                        <th>ES</th>
                        <th>ESF.</th>
                        <th>CIL.</th>
                        <th>EIXO</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th rowspan="2">LONGE</th>
                        <td>OD</td>
                        <td class="text-center" th:text="${cliente.longeODESF}"></td>
                        <td class="text-center" th:text="${cliente.longeODCIL}"></td>
                        <td class="text-center" th:text="${cliente.longeODEixo}"></td>
                    </tr>

                    <tr>
                        <td>OE</td>
                        <td class="text-center" th:text="${cliente.longeOEESF}"></td>
                        <td class="text-center" th:text="${cliente.longeOECIL}"></td>
                        <td class="text-center" th:text="${cliente.longeOEEixo}"></td>
                    </tr>
                    <tr>
                        <th rowspan="2">PERTO</th>
                        <td>OD</td>
                        <td class="text-center" th:text="${cliente.pertoODESF}"></td>
                        <td class="text-center" th:text="${cliente.pertoODCIL}"></td>
                        <td class="text-center" th:text="${cliente.pertoODEixo}"></td>
                    </tr>
                    <tr>
                        <td>OE</td>
                        <td class="text-center" th:text="${cliente.pertoOEESF}"></td>
                        <td class="text-center" th:text="${cliente.pertoOECIL}"></td>
                        <td class="text-center" th:text="${cliente.pertoOEEixo}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
    </div>

        <table class="table table-bordered table-hover table-sm">
        <thead class="thead-light">
        <tr>
            <th>ARMAÇÃO</th>
            <th>LENTE</th>
            <th>DP</th>
            <th>OD</th>
            <th>OE</th>
            <th>ALTURA</th>
            <th>MÉDICO</th>
            <th>CONVÊNIO</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center" th:text="${cliente.armacao}"></td>
            <td class="text-center" th:text="${cliente.lente}"></td>
            <td class="text-center" th:text="${cliente.dp}"></td>
            <td class="text-center" th:text="${cliente.od}"></td>
            <td class="text-center" th:text="${cliente.oe}"></td>
            <td class="text-center" th:text="${cliente.altura}"></td>
            <td class="text-center" th:text="${cliente.medico}"></td>
            <td class="text-center" th:text="${cliente.convenio}"></td>
        </tr>
        </tbody>
    </table>

        <div class="text-center">
            <a th:href="@{/clientes/reciboCliente/{id}(id=${cliente.id})}" class="btn btn-outline-primary btn-rounded mt-4">GUIA DO CLIENTE</a>
            <a th:href="@{/}" class="btn btn-outline-primary btn-rounded mt-4">VOLTAR</a>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<nav th:replace="~{fragments/footer :: footerImports}"></nav>
</body>
</html>